/* Fonts */
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

/* Variable */
:root {
  /* font family */
  --font-helvetica: "Helvetica Neue", sans-serif;

  /* Color */
  --text-secondary: rgba(255, 255, 255, 0.8);
}

/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-helvetica);
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* Header */
.header {
  padding: 1.5rem 2rem;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.logo {
  font-size: 1.25rem;
  font-weight: 500;
}

.nav {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #000;
  padding-block: 5rem;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  box-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  transition: top 0.5s;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1.5rem;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.nav__close {
  position: absolute;
  top: 11px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.signup__button {
  padding: 0.5rem 1rem;
  background: #000;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 1rem;
  cursor: pointer;
}

.signup__button:hover {
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.signup__button-2 {
  display: none;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

@media screen and (min-width: 1024px) {
  .nav {
    position: initial;
    padding-block: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  .nav__menu {
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
    row-gap: 0;
    column-gap: 1rem;
  }

  .nav__toggle,
  .nav__close,
  .signup__button-1 {
    display: none;
  }

  .signup__button-2 {
    display: initial;
  }
}

/* main */
.main {
  padding: 5rem 2rem 0;
}

/* article */
.article__text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article__text p {
  text-align: justify;
  font-size: 0.8rem;
  color: var(--text-secondary);
  margin-bottom: 0.5rem;
}

.article__footer-text {
  margin-bottom: 1rem;
}

.article__footer-text span {
  font-size: 0.7rem;
  color: var(--text-secondary);
}

@media screen and (min-width: 768px) {
  .article {
    display: grid;
    align-items: center;
    grid-template-columns: 60% 40%;
    column-gap: 1rem;
  }

  .article__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .article__text h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .article__text p {
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .article__footer-text span {
    font-size: 1rem;
  }
}

/* aside */
.aside {
  margin-top: 2rem;
  display: grid;
  row-gap: 1.5rem;
  grid-template-rows: repeat(4, auto);
}

.aside__article {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  column-gap: 1rem;
}

.aside__article-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.aside__article-header {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.aside__article-title {
  font-size: 1rem;
}

.aside__article-footer {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 2rem;
  }
}

/* footer */
.footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem 1.5rem;
}
.footer p {
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-secondary);
}
